.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 75px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container h3 {
  display: inline-block;
}

.nav-container h3 a {
  text-decoration: none;
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
  font-size: 20px;
  transition: all .3s ease;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nav-container h3 a:hover {
  font-size: 22px;
}

.about-link a {
  color: #fbd154;
  position: absolute;
  left: 50px;
}
.work-link a {
  color: #54c1d0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.contact-link a {
  color: #ed4e52;
  position: absolute;
  right: 50px;
}
