.header {
  z-index: 1000;
  height: 50px;
}

h1.iliff-media a {
  font-family: 'Bangers', cursive;
  text-decoration: none;
  color: #49ba9c;
  font-size: 50px;
  letter-spacing: 5px;
  padding-left: 50px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  float: left;
  margin-top: 10px;
}

@media (max-width: 768px) {
  h1.iliff-media a {
    padding-left: 10px;
    font-size: 42px;
  }
}


.hamburger {
  float: right;
  margin: 0;
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 50px;
}

 .hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #49ba9c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border: 2px solid black;
}


/* Icon 3 */

.hamburger span:nth-child(1) {
  top: 0px;
}

.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
  top: 18px;
}

.hamburger span:nth-child(4) {
  top: 36px;
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: 768px) {
  .hamburger {
    float: right;
    margin: 0;
    width: 45px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
  }

   .hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #49ba9c;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border: 2px solid black;
  }

  .hamburger span:nth-child(1) {
    top: 5px;
  }

  .hamburger span:nth-child(2),.hamburger span:nth-child(3) {
    top: 17px;
  }

  .hamburger span:nth-child(4) {
    top: 29px;
  }

  .hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  border: none;
}


.nav-container {
  position: absolute;
  width: 200px;
  right: 0;
}

.nav-container h3 {
  display: inline-block;
}

.nav-container h3 a {
  text-decoration: none;
  font-family: 'Bangers', cursive;
  letter-spacing: 5px;
  font-size: 20px;
  transition: all .3s ease;
  text-shadow: 1px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.about-link a {
  color: #fbd154;
}
.work-link a {
  color: #54c1d0;
}
.contact-link a {
  color: #ed4e52;
}
