.App {
  background: #fff;
}

body {
overflow-x: hidden;
padding: 0;
margin:0;
background-color: #49ba9c;
}

body::-webkit-scrollbar {
  background: #d3d3d3;
}
body::-webkit-scrollbar-thumb {
  background-color: #49ba9c;
  /*border: 2px solid black;*/
}

img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 60vh;
}

@media (max-width: 768px) {
  img.logo {
    width: 55vh;
    top: 55%;
  }
}

@media (max-width: 500px) {
  img.logo {
    width: 45vh;
    top: 55%;
  }
}

section.home-container {
  height: 100vh;
  position: fixed;
  width: 100vw;
  background: #fff;
    /*overflow: hidden;*/
}


.downArrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  /*transform:translateX(-50%);*/
  margin-left:-20px;
  width: 75px;
  /*background-image: url("./downArrow");*/
  background-size: contain;
  transition: all .3s ease;
}
.downArrow:hover {
  width: 80px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .downArrow {
    bottom: 10px;
  }
}


.fixedAbout {
  position: fixed !important;
  top: 0;
}
.fixedContact {
  position: fixed !important;
  bottom: 0;
}

.revealContact {
  margin-bottom: 100vh;
}

.white {
  background: #fff;
}
