.App {
  background: #fff;
}

body {
overflow-x: hidden;
padding: 0;
margin:0;
background-color: #49ba9c;
}

img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

@media (max-width: 768px) {
  img.logo {
    width: 300px;
    top: 55%;
  }
}

section.home-container {
  height:100vh;
  position: relative;
  margin-bottom: 200px;
  background: #fff;
    /*overflow: hidden;*/
}


.downArrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform:translateX(-50%);
  margin-left:-20px;
  width: 75px;
  /*background-image: url("./downArrow");*/
  background-size: contain;
  transition: width .3s ease;
}
.downArrow:hover {
  width: 80px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .downArrow {
    bottom: 10px;
  }
}

/*@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
	40% {
    -webkit-transform: translateY(-20px);
  }
	60% {
    -webkit-transform: translateY(-10px);
  }
}*/

@-webkit-keyframes bounce {
	0% {
    -webkit-transform: translateY(0);
  }
	45% {
    -webkit-transform: translateY(0);
  }
	50% {
    -webkit-transform: translateY(-20px);
  }

	55% {
      -webkit-transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
	65% {
    -webkit-transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }

}

.bounce{
	-webkit-animation-name: bounce;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}


.fixedAbout {
  position: fixed !important;
  top: 0px;
  background: #fff;
  z-index: 6000;
}
.fixedWork {
  position: fixed !important;
  top: 20px;
  background: #fff;
  z-index: 6000;
}

@media (max-width: 791px) {
  .fixedWork {
    top: 30px;
  }
  .fixedAbout {
    top: 20px;
  }
}
.addPaddingForAbout {
  padding-bottom: 800px;
}

.addPaddingForWork {
  padding-bottom: 1550px;
}
