.work-section-container {
  height: 800px;
  position: relative;
  border: 2px solid black;
}
.left-work-container {

}
.right-work-container {

}

.work-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.work-img-container img {
  width: 450px;
}
