.work-section-container {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  z-index: 6001;
  background: #fff;
  /*box-shadow: 0 -5px 5px -5px #333;*/
}

.work-section-container h1 {
  font-family: 'Bangers', cursive;
  color: #54c1d0;
  letter-spacing: 5px;
  font-size: 50px;
  transition: all .3s ease;
  text-shadow: 2px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 35px;
  text-align: center;
  margin-top: 0;
}

@media(min-width: 791px) {
  .work-section-container h1 {
    text-align: left;
    padding-left: 150px;
    margin-top: 0;

  }
}
@media(max-width: 791px) {
  .work-section-container h1 {
    margin-bottom: 0;
  }
}



.work-content-container {
  width: 50%;
  float: left;
  padding: 5%;
  padding-top: 0;
}

.work-content-container p {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 36px;
  margin: 0;
}

@media(min-width: 791px) {
  .work-content-container p {
    font-family: 'Oswald', sans-serif;
      font-size: 22px;
      font-weight: 800;
      line-height: 60px;
  }
}

.work-img-container {
  width: 40%;
  float:right;
}

@media(max-width: 791px ) {

  .work-content-container {
    width: 90%;
    float: none;
    padding: 5%;
  }

  .work-img-container {
    width: 100%;
    float:none;
    text-align: center;
  }
  .work-img-container img {
    width: 250px !important;

  }
}
/*.work-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}*/

.work-img-container img {
  width: 350px;
}

.work-content-container ul {
  padding: 0 !important;
  margin: 0;
}
.work-content-container ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.work-content-container ul li img {
  width: 200px;
}

@media(max-width: 791px) {
  .work-content-container ul li img {
    width: 120px;
  }
  .work-img-container img {
      transform: translateY(-10%);
  }
  .work-content-container p {
    margin: 0 !important;
  }
  .work-content-container ul {
    margin: 0 !important;
    text-align: center;
  }
}

@media(max-width: 500px) {
  .work-content-container ul li img {
    width: 100px !important;
}
}


.workAndContact {
  background: #fff;
}
