.contact-section-container {
  height: 600px;
  position: relative;
}

.contact-form-container {
  width: 50%;
  float: left;
}
.contact-form {
  padding: 25px;
    width: 400px;
    padding-left: 50px;
}

.contact-form h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
}
.contact-form p {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.contact-inputs {
  margin-top: 50px;
}

.img-container {
  width: 50%;
  float: right;
  margin-top: -100px;
}

.img-container img {
  width: 450px;
}
