.contact-section-container {
  height: 90vh;
  position: relative;
  padding-top: 80px;
  z-index: 6010;
  background: #fff;
  width: 100vw;
  z-index: 20;
  /*box-shadow: 0 -5px 5px -5px #333;*/
}

.contact-section-container .img-container {
  width: 50%;
  float: right;
  text-align: center;
}

.contact-section-container h1 {
  font-family: 'Bangers', cursive;
  color: #ed4e52;
  letter-spacing: 5px;
  font-size: 50px;
  transition: all .3s ease;
  text-shadow: 2px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 35px;
  text-align: center;
}

.contact-form-container {
  max-width: 400px;
  float: none;
  margin: 0 auto;
}

@media(max-width:791px) {
  .contact-form-container {
    max-width: 300px;
    width: 80%;
    padding-left: 10%;
    float: none;
    padding-right: 10%;
    margin: 0 auto;
}
}

.contact-form p {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.contact-inputs {
  /*margin-top: 30px;*/
}

.content-section-container .img-container {
  width: 50%;
  float: right;
}

.img-container img {
  width: 350px;
}

.input-message {
  width: 100%;
  margin-top: 15px;
  height: 50px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 14px;
  color: black;
  font-family: Oswald;
  resize: none;
}

.contact-form p.title {
  font-family: 'Bangers', cursive;
  font-size: 24px;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  text-align: right;
  font-size: 20px;
    letter-spacing: 2px;
    font-family: Oswald;
}

footer p span {
  list-style: none;
  display: inline;
  font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 22px;
    display: inline-block;
    padding-bottom: 15px;
}

footer p span:nth-of-type(1) {
  float: left;
  padding-left: 50px;
  padding-bottom: 15px;
}

@media(min-width: 791px) {
  footer p {
        padding-right: 5%;
  }
}
@media(max-width: 791px) {
  footer {
      height: auto;
      width: 100%;
  }
  footer p span {
    display: block;
  }
  footer p {
    display: block;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
  }

  footer p span:nth-of-type(1) {
    float: left;
    padding-left: 25px;
    padding-bottom: 15px;
  }
  footer p span:nth-of-type(1) {
    float: right;
    padding-right: 25px;
    padding-bottom: 15px;
  }

}
