.about {
  border-top: 2px solid black;
padding-top: 100px;

}
.about-section-container {
  height: 800px;
  position: relative;
}

.content-container {
  width: 50%;
    float: right;
    padding-right: 15%;
}

.content h1 {
  font-family: 'Bangers', cursive;
  color: #f2ea2e;
  letter-spacing: 5px;
  font-size: 40px;
  transition: all .3s ease;
  text-shadow: 2px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 35px;
  text-align: center;
}
.content p {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 36px;
}

.about-img-container {
  width: 30%;
  float: left;
}

.about-img-container img {
  width: 350px;
}
