.about {
padding-top: 100vh;
padding-bottom: 50px;
background: #fff;
height: 100vh;
}

.about-section-container {
  position: relative;
  background: white;
  height: 100vh;
  padding-top: 80px;
}

.content-container {
  width: 50%;
    float: right;
    padding: 5%;
}

@media(max-width: 791px) {

  .content-container {
    width: 90%;
      float: none;
      padding-right: 5%;
      padding-left: 5%;
  }
  .about-img-container {
    width: 50% !important;
    float: left !important;
  }
  .about-img-container img {
    width: 200px !important;
  }
}

.about-section-container h1 {
  font-family: 'Bangers', cursive;
  color: #f2ea2e;
  letter-spacing: 5px;
  font-size: 50px;
  transition: all .3s ease;
  text-shadow: 2px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 35px;
  text-align: center;
}

.content p {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 36px;
}

@media(min-width: 791px) {
  .content p {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 60px;
  }
}

.about-img-container {
  width: 40%;
  float: left !important;
  text-align: center;
}

.about-img-container img {
  width: 350px;
}
